In [18]:
import os
import re
import pandas as pd
import numpy as np
from multiprocessing.dummy import Pool as ThreadPool 


file_list = []
dir_list = []

regexp = r'.*[.]log'

# Gets a list of files and directory that match a certain pattern
for root, dirs, files in os.walk("/Users/ludovicbreger/.config", topdown=False):
    for name in files:
        print(os.path.join(root, name))
        if re.match(regexp, name, re.M|re.I):
            file_list.append(os.path.join(root, name))
      
    for name in dirs:
        print('dir = ' + os.path.join(root, name))
        dir_list.append(name)
      

sample_list = file_list[0:100] 


def create_test_files(dir, filename, n):
    '''
    Creates in directory dir a set of n csv files with filenames
    equal to filenameXXX.csv and with random data
    '''
    
    for i in range(0,n):
        df = pd.DataFrame(np.random.randint(0, 5, size=(n, 2)), columns=['A', 'B'])
        df.to_csv(os.path.join(dir, filename + str(i) + '.csv'), index=False)


def load_test_file(file):
    return pd.read_csv(file)


def get_file_list(dir, regexp):
    # Gets a list of files and directory that match a certain pattern
    
    file_list = []
    dir_list = []

    for root, dirs, files in os.walk(dir, topdown=False):
        for name in files:
            if re.match(regexp, name, re.M|re.I):
                file_list.append(os.path.join(root, name))

        for name in dirs:
            dir_list.append(name)
    return file_list


# Test function that takes two arguments
def test_function(file1, file2):
    return file1 + '----' + file2

# Example of function that takes one argument
def wc_regular(file):
    return sum(1 for ln in open(file))

# Makes the pool of workers
pool = ThreadPool(4) 

# Dispatches the work
results = pool.map(wc_regular, sample_list)

# Closes the pool and wait for the work to finish 
pool.close() 
pool.join() 

# Prints the results
print(results)


# Makes the pool of workers for the two argument example
pool = ThreadPool(4)

results2 = pool.starmap(test_function, zip(sample_list, sample_list))

# Closes the pool and wait for the work to finish 
pool.close() 
pool.join() 

print(results2)

/Users/ludovicbreger/.config/gcloud/configurations/config_default
/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.32.38.570332.log
/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.32.04.752746.log
/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/09.15.32.941854.log
/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/09.15.21.321884.log
/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.28.39.897866.log
/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.35.55.896871.log
dir = /Users/ludovicbreger/.config/gcloud/logs/2017.11.23
/Users/ludovicbreger/.config/gcloud/legacy_credentials/lb123457@gmail.com/.boto
/Users/ludovicbreger/.config/gcloud/legacy_credentials/lb123457@gmail.com/adc.json
dir = /Users/ludovicbreger/.config/gcloud/legacy_credentials/lb123457@gmail.com
/Users/ludovicbreger/.config/gcloud/.metricsUUID
/Users/ludovicbreger/.config/gcloud/access_tokens.db
/Users/ludovicbreger/.config/gcloud/active_config
/Users/ludovicbreger/.config/gcloud/gce
/Users/ludovicbreger/.config/gcloud/credentials.db
/Users/ludovicbreger/.config/gcloud/.last_update_check.json
/Users/ludovicbreger/.config/gcloud/config_sentinel
dir = /Users/ludovicbreger/.config/gcloud/configurations
dir = /Users/ludovicbreger/.config/gcloud/cache
dir = /Users/ludovicbreger/.config/gcloud/logs
dir = /Users/ludovicbreger/.config/gcloud/legacy_credentials
dir = /Users/ludovicbreger/.config/gcloud
[26, 70, 5, 429, 20, 247]
['/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.32.38.570332.log----/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.32.38.570332.log', '/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.32.04.752746.log----/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.32.04.752746.log', '/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/09.15.32.941854.log----/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/09.15.32.941854.log', '/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/09.15.21.321884.log----/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/09.15.21.321884.log', '/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.28.39.897866.log----/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.28.39.897866.log', '/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.35.55.896871.log----/Users/ludovicbreger/.config/gcloud/logs/2017.11.23/12.35.55.896871.log']

In [21]:
create_test_files('/Users/ludovicbreger/Data/Tmp', 'dummy', 100)

file_list = get_file_list('/Users/ludovicbreger/Data/Tmp', r'.*[.]csv')

print(file_list)

# Makes the pool of workers
pool = ThreadPool(4) 

# Dispatches the work
results = pool.map(load_test_file, file_list)

# Closes the pool and wait for the work to finish 
pool.close() 
pool.join() 

# Prints the results
print(results)
df = pd.concat(results)

['/Users/ludovicbreger/Data/Tmp/dummy17.csv', '/Users/ludovicbreger/Data/Tmp/dummy16.csv', '/Users/ludovicbreger/Data/Tmp/dummy28.csv', '/Users/ludovicbreger/Data/Tmp/dummy14.csv', '/Users/ludovicbreger/Data/Tmp/dummy15.csv', '/Users/ludovicbreger/Data/Tmp/dummy29.csv', '/Users/ludovicbreger/Data/Tmp/dummy11.csv', '/Users/ludovicbreger/Data/Tmp/dummy39.csv', '/Users/ludovicbreger/Data/Tmp/dummy38.csv', '/Users/ludovicbreger/Data/Tmp/dummy10.csv', '/Users/ludovicbreger/Data/Tmp/dummy12.csv', '/Users/ludovicbreger/Data/Tmp/dummy8.csv', '/Users/ludovicbreger/Data/Tmp/dummy9.csv', '/Users/ludovicbreger/Data/Tmp/dummy13.csv', '/Users/ludovicbreger/Data/Tmp/dummy48.csv', '/Users/ludovicbreger/Data/Tmp/dummy60.csv', '/Users/ludovicbreger/Data/Tmp/dummy74.csv', '/Users/ludovicbreger/Data/Tmp/dummy75.csv', '/Users/ludovicbreger/Data/Tmp/dummy61.csv', '/Users/ludovicbreger/Data/Tmp/dummy49.csv', '/Users/ludovicbreger/Data/Tmp/dummy88.csv', '/Users/ludovicbreger/Data/Tmp/dummy77.csv', '/Users/ludovicbreger/Data/Tmp/dummy63.csv', '/Users/ludovicbreger/Data/Tmp/dummy62.csv', '/Users/ludovicbreger/Data/Tmp/dummy76.csv', '/Users/ludovicbreger/Data/Tmp/dummy89.csv', '/Users/ludovicbreger/Data/Tmp/dummy99.csv', '/Users/ludovicbreger/Data/Tmp/dummy72.csv', '/Users/ludovicbreger/Data/Tmp/dummy66.csv', '/Users/ludovicbreger/Data/Tmp/dummy67.csv', '/Users/ludovicbreger/Data/Tmp/dummy73.csv', '/Users/ludovicbreger/Data/Tmp/dummy98.csv', '/Users/ludovicbreger/Data/Tmp/dummy65.csv', '/Users/ludovicbreger/Data/Tmp/dummy71.csv', '/Users/ludovicbreger/Data/Tmp/dummy59.csv', '/Users/ludovicbreger/Data/Tmp/dummy58.csv', '/Users/ludovicbreger/Data/Tmp/dummy70.csv', '/Users/ludovicbreger/Data/Tmp/dummy64.csv', '/Users/ludovicbreger/Data/Tmp/dummy82.csv', '/Users/ludovicbreger/Data/Tmp/dummy96.csv', '/Users/ludovicbreger/Data/Tmp/dummy69.csv', '/Users/ludovicbreger/Data/Tmp/dummy41.csv', '/Users/ludovicbreger/Data/Tmp/dummy55.csv', '/Users/ludovicbreger/Data/Tmp/dummy54.csv', '/Users/ludovicbreger/Data/Tmp/dummy40.csv', '/Users/ludovicbreger/Data/Tmp/dummy68.csv', '/Users/ludovicbreger/Data/Tmp/dummy97.csv', '/Users/ludovicbreger/Data/Tmp/dummy83.csv', '/Users/ludovicbreger/Data/Tmp/dummy95.csv', '/Users/ludovicbreger/Data/Tmp/dummy81.csv', '/Users/ludovicbreger/Data/Tmp/dummy56.csv', '/Users/ludovicbreger/Data/Tmp/dummy42.csv', '/Users/ludovicbreger/Data/Tmp/dummy43.csv', '/Users/ludovicbreger/Data/Tmp/dummy57.csv', '/Users/ludovicbreger/Data/Tmp/dummy80.csv', '/Users/ludovicbreger/Data/Tmp/dummy94.csv', '/Users/ludovicbreger/Data/Tmp/dummy90.csv', '/Users/ludovicbreger/Data/Tmp/dummy84.csv', '/Users/ludovicbreger/Data/Tmp/dummy53.csv', '/Users/ludovicbreger/Data/Tmp/dummy47.csv', '/Users/ludovicbreger/Data/Tmp/dummy46.csv', '/Users/ludovicbreger/Data/Tmp/dummy52.csv', '/Users/ludovicbreger/Data/Tmp/dummy85.csv', '/Users/ludovicbreger/Data/Tmp/dummy91.csv', '/Users/ludovicbreger/Data/Tmp/dummy87.csv', '/Users/ludovicbreger/Data/Tmp/dummy93.csv', '/Users/ludovicbreger/Data/Tmp/dummy44.csv', '/Users/ludovicbreger/Data/Tmp/dummy50.csv', '/Users/ludovicbreger/Data/Tmp/dummy78.csv', '/Users/ludovicbreger/Data/Tmp/dummy79.csv', '/Users/ludovicbreger/Data/Tmp/dummy51.csv', '/Users/ludovicbreger/Data/Tmp/dummy45.csv', '/Users/ludovicbreger/Data/Tmp/dummy92.csv', '/Users/ludovicbreger/Data/Tmp/dummy86.csv', '/Users/ludovicbreger/Data/Tmp/dummy22.csv', '/Users/ludovicbreger/Data/Tmp/dummy36.csv', '/Users/ludovicbreger/Data/Tmp/dummy4.csv', '/Users/ludovicbreger/Data/Tmp/dummy5.csv', '/Users/ludovicbreger/Data/Tmp/dummy37.csv', '/Users/ludovicbreger/Data/Tmp/dummy23.csv', '/Users/ludovicbreger/Data/Tmp/dummy35.csv', '/Users/ludovicbreger/Data/Tmp/dummy21.csv', '/Users/ludovicbreger/Data/Tmp/dummy7.csv', '/Users/ludovicbreger/Data/Tmp/dummy6.csv', '/Users/ludovicbreger/Data/Tmp/dummy20.csv', '/Users/ludovicbreger/Data/Tmp/dummy34.csv', '/Users/ludovicbreger/Data/Tmp/dummy30.csv', '/Users/ludovicbreger/Data/Tmp/dummy24.csv', '/Users/ludovicbreger/Data/Tmp/dummy18.csv', '/Users/ludovicbreger/Data/Tmp/dummy2.csv', '/Users/ludovicbreger/Data/Tmp/dummy3.csv', '/Users/ludovicbreger/Data/Tmp/dummy19.csv', '/Users/ludovicbreger/Data/Tmp/dummy25.csv', '/Users/ludovicbreger/Data/Tmp/dummy31.csv', '/Users/ludovicbreger/Data/Tmp/dummy27.csv', '/Users/ludovicbreger/Data/Tmp/dummy33.csv', '/Users/ludovicbreger/Data/Tmp/dummy1.csv', '/Users/ludovicbreger/Data/Tmp/dummy0.csv', '/Users/ludovicbreger/Data/Tmp/dummy32.csv', '/Users/ludovicbreger/Data/Tmp/dummy26.csv']
[    A  B
0   2  2
1   1  1
2   0  2
3   2  0
4   2  4
5   1  2
6   0  1
7   1  0
8   4  3
9   2  3
10  0  1
11  2  0
12  0  2
13  0  4
14  2  4
15  3  1
16  3  0
17  3  3
18  1  4
19  2  1
20  4  2
21  4  2
22  2  4
23  3  3
24  4  4
25  3  2
26  0  1
27  0  4
28  0  1
29  4  0
.. .. ..
70  4  4
71  2  4
72  3  4
73  2  3
74  1  3
75  2  2
76  3  3
77  1  3
78  1  4
79  4  1
80  3  2
81  4  3
82  4  3
83  4  4
84  3  1
85  3  2
86  2  4
87  3  1
88  3  2
89  2  0
90  0  1
91  3  0
92  0  3
93  2  2
94  3  0
95  3  3
96  0  3
97  3  4
98  2  3
99  4  2

[100 rows x 2 columns],     A  B
0   1  1
1   1  4
2   1  3
3   0  0
4   2  1
5   1  4
6   3  4
7   4  1
8   3  0
9   0  4
10  2  3
11  1  2
12  3  3
13  4  1
14  0  4
15  0  0
16  3  0
17  2  2
18  1  4
19  0  0
20  3  2
21  4  3
22  2  3
23  0  0
24  1  2
25  1  2
26  3  2
27  3  0
28  3  4
29  0  0
.. .. ..
70  4  3
71  0  1
72  1  1
73  0  2
74  3  3
75  4  1
76  0  4
77  3  2
78  3  1
79  3  4
80  1  3
81  2  3
82  4  0
83  0  1
84  4  0
85  2  2
86  0  2
87  1  2
88  2  3
89  2  2
90  0  2
91  0  2
92  0  0
93  2  4
94  3  2
95  0  0
96  1  4
97  4  0
98  1  4
99  1  4

[100 rows x 2 columns],     A  B
0   0  1
1   3  3
2   2  3
3   4  3
4   0  3
5   0  3
6   3  3
7   1  3
8   1  1
9   4  1
10  4  0
11  1  3
12  3  3
13  2  3
14  3  4
15  4  4
16  0  4
17  4  3
18  1  2
19  1  4
20  2  0
21  2  0
22  2  4
23  2  4
24  4  0
25  3  0
26  3  3
27  4  0
28  1  0
29  1  1
.. .. ..
70  2  4
71  0  3
72  4  4
73  1  0
74  1  1
75  2  4
76  3  0
77  3  0
78  3  4
79  4  4
80  3  4
81  1  4
82  3  3
83  2  4
84  0  0
85  1  2
86  1  2
87  0  3
88  4  3
89  0  2
90  3  1
91  3  0
92  4  0
93  1  2
94  3  4
95  3  1
96  0  2
97  1  1
98  3  2
99  4  4

[100 rows x 2 columns],     A  B
0   2  0
1   1  2
2   4  4
3   0  2
4   1  4
5   4  2
6   4  4
7   4  3
8   1  2
9   4  1
10  3  4
11  1  4
12  1  0
13  3  2
14  0  0
15  0  2
16  2  0
17  1  1
18  3  3
19  3  4
20  3  3
21  2  1
22  3  1
23  0  0
24  2  2
25  4  2
26  3  4
27  1  3
28  4  3
29  0  1
.. .. ..
70  3  3
71  4  2
72  0  0
73  2  0
74  3  2
75  1  1
76  4  2
77  3  3
78  4  1
79  1  0
80  3  1
81  4  3
82  0  4
83  0  2
84  3  4
85  4  3
86  0  2
87  2  0
88  3  4
89  0  0
90  0  3
91  1  3
92  2  3
93  4  3
94  0  0
95  1  4
96  2  3
97  1  0
98  2  0
99  3  4

[100 rows x 2 columns],     A  B
0   1  0
1   3  0
2   2  3
3   3  2
4   2  2
5   3  4
6   0  2
7   2  4
8   1  0
9   1  0
10  0  4
11  0  1
12  2  2
13  0  4
14  1  0
15  0  4
16  0  1
17  1  0
18  0  3
19  0  1
20  3  4
21  1  0
22  4  2
23  1  2
24  0  2
25  1  3
26  1  0
27  3  2
28  1  3
29  2  0
.. .. ..
70  3  3
71  4  2
72  2  4
73  3  1
74  0  0
75  4  2
76  2  0
77  3  3
78  2  0
79  4  1
80  4  0
81  1  1
82  4  0
83  1  4
84  1  4
85  0  3
86  2  2
87  1  4
88  0  0
89  1  3
90  0  1
91  1  4
92  3  0
93  1  0
94  3  0
95  1  4
96  4  1
97  1  4
98  1  0
99  4  4

[100 rows x 2 columns],     A  B
0   2  1
1   2  2
2   0  4
3   0  2
4   2  0
5   0  4
6   3  0
7   1  4
8   4  1
9   1  2
10  1  4
11  2  1
12  3  1
13  0  2
14  3  3
15  3  3
16  2  1
17  3  1
18  2  0
19  2  3
20  4  2
21  4  1
22  4  3
23  2  0
24  0  2
25  2  1
26  3  4
27  4  2
28  3  0
29  4  1
.. .. ..
70  1  1
71  4  2
72  1  3
73  0  0
74  3  3
75  1  0
76  1  4
77  3  4
78  1  3
79  2  2
80  0  3
81  3  2
82  3  2
83  3  2
84  1  0
85  1  1
86  3  1
87  3  4
88  2  2
89  2  3
90  3  2
91  0  1
92  3  4
93  3  2
94  3  2
95  1  1
96  3  0
97  0  4
98  4  3
99  3  2

[100 rows x 2 columns],     A  B
0   1  0
1   2  0
2   3  0
3   3  0
4   4  2
5   0  4
6   2  4
7   3  0
8   1  4
9   1  3
10  4  0
11  1  2
12  2  0
13  1  4
14  2  1
15  0  2
16  0  0
17  2  0
18  2  3
19  3  0
20  4  4
21  1  0
22  3  0
23  4  3
24  4  3
25  1  2
26  1  2
27  1  1
28  1  2
29  1  4
.. .. ..
70  3  4
71  4  2
72  1  3
73  3  1
74  2  2
75  0  2
76  0  4
77  1  3
78  1  2
79  0  3
80  4  1
81  4  1
82  1  4
83  4  1
84  2  1
85  0  4
86  4  0
87  3  2
88  4  2
89  3  1
90  3  0
91  1  0
92  2  1
93  4  0
94  0  1
95  0  3
96  0  2
97  3  0
98  0  3
99  4  3

[100 rows x 2 columns],     A  B
0   4  4
1   1  0
2   4  1
3   2  0
4   3  2
5   3  1
6   4  2
7   1  2
8   1  2
9   0  3
10  2  2
11  1  1
12  0  0
13  3  0
14  2  3
15  2  4
16  3  0
17  4  0
18  2  1
19  3  0
20  0  3
21  2  3
22  4  4
23  4  1
24  3  1
25  0  2
26  1  3
27  4  4
28  1  1
29  2  1
.. .. ..
70  2  1
71  2  4
72  0  2
73  3  1
74  1  0
75  4  4
76  2  4
77  3  4
78  3  0
79  4  3
80  3  1
81  1  4
82  2  2
83  1  0
84  1  0
85  1  3
86  2  3
87  2  3
88  2  4
89  0  4
90  4  2
91  3  1
92  3  0
93  3  1
94  1  4
95  1  4
96  3  4
97  2  1
98  4  2
99  1  1

[100 rows x 2 columns],     A  B
0   3  1
1   1  4
2   0  3
3   2  4
4   0  1
5   1  4
6   1  2
7   2  1
8   0  3
9   3  1
10  4  2
11  2  1
12  4  0
13  1  2
14  0  0
15  3  2
16  2  0
17  2  2
18  0  3
19  1  2
20  1  1
21  4  1
22  2  3
23  2  4
24  2  4
25  4  1
26  1  3
27  1  0
28  0  4
29  1  0
.. .. ..
70  4  0
71  0  2
72  2  1
73  3  0
74  4  1
75  1  1
76  0  0
77  1  4
78  0  1
79  0  1
80  2  0
81  4  4
82  4  0
83  2  4
84  1  1
85  1  1
86  0  3
87  1  2
88  4  3
89  3  0
90  2  4
91  4  1
92  1  3
93  4  2
94  3  1
95  3  4
96  4  2
97  1  0
98  2  3
99  1  4

[100 rows x 2 columns],     A  B
0   0  4
1   0  2
2   0  0
3   4  1
4   0  1
5   0  3
6   4  1
7   2  1
8   4  3
9   3  4
10  4  3
11  2  0
12  3  2
13  0  2
14  4  2
15  4  4
16  4  1
17  4  1
18  1  1
19  0  2
20  4  1
21  3  3
22  4  3
23  3  4
24  1  0
25  2  1
26  2  4
27  3  2
28  2  4
29  1  1
.. .. ..
70  3  2
71  1  3
72  1  2
73  1  1
74  4  4
75  4  2
76  1  0
77  1  3
78  0  3
79  2  3
80  2  3
81  0  3
82  2  2
83  1  0
84  2  1
85  2  3
86  1  3
87  3  1
88  4  3
89  2  3
90  4  2
91  0  0
92  0  1
93  0  3
94  4  0
95  0  3
96  4  3
97  4  2
98  2  3
99  1  4

[100 rows x 2 columns],     A  B
0   0  2
1   1  0
2   4  2
3   2  1
4   3  4
5   1  0
6   0  0
7   2  3
8   0  4
9   2  2
10  3  1
11  3  3
12  2  4
13  3  4
14  1  0
15  0  4
16  4  2
17  1  4
18  0  3
19  4  1
20  4  0
21  1  4
22  3  3
23  3  0
24  1  0
25  1  0
26  2  2
27  4  4
28  0  2
29  2  2
.. .. ..
70  2  4
71  2  0
72  0  4
73  4  2
74  2  1
75  4  4
76  1  2
77  1  3
78  3  2
79  0  2
80  4  0
81  2  2
82  2  0
83  3  1
84  4  1
85  1  3
86  3  3
87  3  1
88  3  3
89  2  1
90  3  4
91  0  1
92  2  2
93  4  0
94  2  2
95  1  2
96  3  0
97  1  3
98  3  2
99  4  3

[100 rows x 2 columns],     A  B
0   0  3
1   2  1
2   2  1
3   1  0
4   0  2
5   2  4
6   4  4
7   4  4
8   3  4
9   2  4
10  0  1
11  4  4
12  0  2
13  2  2
14  1  4
15  0  4
16  0  0
17  2  3
18  2  3
19  0  4
20  1  4
21  4  4
22  4  1
23  2  2
24  3  2
25  1  0
26  0  1
27  0  4
28  4  0
29  4  0
.. .. ..
70  2  2
71  0  1
72  4  3
73  0  4
74  2  0
75  1  3
76  4  0
77  2  3
78  2  2
79  1  4
80  1  0
81  0  1
82  2  2
83  1  0
84  3  4
85  3  1
86  4  2
87  3  4
88  0  0
89  4  0
90  0  2
91  4  2
92  1  0
93  0  1
94  4  4
95  2  4
96  0  4
97  4  3
98  2  3
99  3  0

[100 rows x 2 columns],     A  B
0   0  4
1   4  2
2   4  0
3   4  0
4   2  3
5   4  2
6   3  4
7   2  1
8   1  3
9   2  2
10  4  2
11  2  4
12  1  2
13  1  2
14  2  3
15  2  0
16  0  0
17  1  1
18  1  4
19  3  4
20  2  3
21  3  2
22  4  0
23  4  1
24  4  2
25  0  3
26  0  1
27  0  0
28  2  4
29  4  1
.. .. ..
70  3  0
71  3  0
72  1  4
73  3  3
74  1  0
75  3  1
76  2  4
77  2  0
78  1  2
79  0  4
80  3  3
81  4  4
82  3  0
83  0  2
84  3  2
85  0  0
86  2  1
87  1  4
88  1  0
89  2  2
90  4  2
91  0  2
92  2  0
93  4  2
94  4  3
95  1  4
96  2  1
97  2  3
98  2  2
99  4  0

[100 rows x 2 columns],     A  B
0   0  1
1   3  1
2   2  1
3   1  2
4   3  4
5   0  4
6   1  4
7   3  2
8   2  0
9   1  1
10  2  3
11  1  1
12  2  3
13  0  4
14  0  2
15  4  2
16  4  2
17  2  3
18  0  1
19  4  2
20  0  0
21  1  0
22  3  2
23  0  3
24  1  3
25  0  3
26  0  3
27  2  4
28  0  3
29  1  2
.. .. ..
70  2  0
71  1  3
72  3  4
73  1  4
74  1  3
75  4  0
76  2  3
77  3  1
78  2  2
79  3  2
80  1  3
81  3  4
82  3  4
83  1  3
84  2  4
85  1  1
86  1  2
87  1  0
88  2  3
89  1  0
90  0  1
91  1  1
92  3  0
93  4  4
94  4  4
95  0  3
96  1  4
97  2  1
98  1  3
99  0  3

[100 rows x 2 columns],     A  B
0   3  1
1   2  4
2   0  1
3   3  0
4   4  1
5   3  0
6   4  3
7   2  2
8   0  0
9   0  0
10  1  2
11  1  0
12  1  3
13  1  0
14  3  0
15  2  2
16  4  0
17  0  2
18  0  3
19  0  2
20  2  1
21  0  4
22  2  3
23  3  4
24  1  3
25  2  1
26  2  0
27  0  3
28  0  0
29  4  0
.. .. ..
70  2  1
71  0  3
72  2  0
73  3  2
74  1  1
75  3  3
76  3  3
77  3  4
78  4  2
79  4  0
80  1  2
81  4  2
82  3  3
83  4  1
84  1  1
85  0  0
86  4  2
87  2  2
88  0  4
89  0  0
90  3  2
91  1  2
92  1  1
93  3  2
94  0  4
95  0  2
96  1  2
97  2  4
98  0  1
99  0  1

[100 rows x 2 columns],     A  B
0   1  0
1   4  2
2   1  2
3   0  2
4   0  1
5   2  2
6   2  3
7   1  1
8   2  1
9   3  2
10  1  3
11  2  0
12  2  3
13  3  2
14  1  4
15  3  4
16  1  4
17  1  3
18  0  0
19  0  3
20  2  2
21  1  1
22  3  1
23  2  3
24  2  4
25  0  0
26  0  4
27  3  1
28  4  2
29  0  0
.. .. ..
70  0  3
71  4  0
72  0  0
73  0  0
74  3  1
75  4  3
76  4  2
77  4  4
78  3  1
79  4  1
80  1  0
81  2  0
82  0  3
83  1  0
84  2  2
85  1  0
86  4  3
87  1  2
88  4  3
89  0  4
90  3  3
91  0  1
92  3  1
93  1  0
94  1  1
95  0  0
96  0  3
97  4  4
98  3  4
99  2  0

[100 rows x 2 columns],     A  B
0   3  4
1   4  1
2   2  1
3   2  4
4   2  1
5   0  4
6   1  2
7   2  1
8   4  2
9   3  2
10  0  4
11  0  3
12  4  3
13  0  4
14  0  4
15  1  3
16  2  1
17  0  1
18  1  3
19  2  1
20  2  1
21  2  1
22  4  2
23  1  4
24  2  1
25  4  3
26  3  4
27  2  0
28  4  0
29  3  2
.. .. ..
70  1  1
71  0  4
72  0  0
73  2  3
74  2  2
75  1  2
76  4  0
77  1  2
78  3  0
79  3  1
80  4  2
81  1  1
82  0  2
83  1  2
84  4  0
85  1  2
86  4  4
87  2  1
88  4  1
89  2  1
90  0  4
91  1  2
92  0  4
93  1  3
94  0  1
95  3  0
96  1  2
97  1  0
98  0  3
99  2  3

[100 rows x 2 columns],     A  B
0   4  1
1   3  2
2   4  4
3   4  4
4   4  4
5   3  4
6   3  1
7   3  4
8   3  4
9   4  1
10  1  1
11  1  0
12  3  1
13  3  0
14  2  2
15  4  0
16  3  2
17  4  0
18  4  2
19  4  3
20  3  3
21  4  3
22  0  3
23  3  1
24  0  0
25  2  2
26  0  1
27  0  3
28  0  0
29  0  4
.. .. ..
70  2  4
71  3  1
72  2  4
73  1  0
74  2  1
75  4  2
76  4  3
77  0  4
78  4  3
79  0  1
80  3  1
81  4  2
82  1  3
83  0  0
84  3  0
85  0  2
86  3  1
87  1  2
88  1  3
89  1  1
90  1  2
91  1  2
92  4  3
93  0  0
94  0  3
95  3  4
96  1  0
97  4  4
98  3  0
99  0  4

[100 rows x 2 columns],     A  B
0   3  1
1   2  2
2   2  2
3   4  0
4   0  0
5   0  3
6   2  1
7   0  0
8   2  0
9   1  4
10  1  3
11  2  0
12  3  1
13  1  0
14  0  1
15  3  3
16  1  1
17  2  3
18  1  3
19  2  1
20  4  4
21  2  4
22  3  2
23  1  1
24  3  0
25  2  2
26  0  0
27  4  3
28  4  2
29  3  0
.. .. ..
70  0  4
71  4  0
72  0  0
73  3  4
74  4  1
75  3  1
76  4  3
77  0  0
78  0  1
79  0  4
80  3  3
81  3  4
82  0  4
83  1  0
84  3  3
85  0  3
86  2  2
87  0  4
88  1  2
89  1  1
90  1  3
91  1  3
92  0  0
93  1  4
94  3  1
95  2  2
96  1  4
97  2  2
98  0  4
99  0  4

[100 rows x 2 columns],     A  B
0   3  4
1   2  1
2   2  1
3   2  2
4   3  0
5   1  4
6   1  1
7   4  0
8   4  3
9   0  3
10  0  1
11  0  3
12  0  4
13  1  4
14  3  0
15  0  0
16  4  4
17  3  4
18  4  1
19  0  4
20  0  2
21  0  0
22  1  3
23  1  0
24  2  4
25  2  2
26  0  2
27  0  1
28  0  0
29  2  0
.. .. ..
70  1  3
71  3  4
72  2  2
73  1  0
74  4  1
75  3  4
76  2  4
77  4  4
78  4  4
79  2  3
80  4  3
81  4  2
82  4  1
83  0  2
84  0  0
85  1  4
86  3  3
87  3  4
88  1  1
89  1  2
90  3  3
91  1  0
92  4  1
93  1  0
94  0  2
95  2  0
96  0  1
97  1  0
98  3  3
99  0  0

[100 rows x 2 columns],     A  B
0   2  4
1   2  0
2   3  0
3   4  0
4   2  0
5   2  0
6   4  0
7   3  1
8   2  4
9   1  1
10  3  3
11  2  2
12  2  2
13  1  2
14  3  1
15  3  1
16  0  3
17  1  4
18  0  2
19  4  2
20  3  0
21  3  0
22  4  3
23  1  0
24  1  2
25  0  0
26  0  2
27  4  3
28  2  4
29  3  3
.. .. ..
70  0  3
71  0  3
72  2  4
73  4  1
74  1  4
75  0  0
76  1  3
77  3  0
78  3  3
79  2  0
80  2  0
81  2  3
82  3  0
83  0  3
84  2  3
85  1  3
86  0  1
87  3  3
88  0  2
89  1  0
90  2  2
91  4  2
92  3  1
93  0  4
94  4  0
95  1  2
96  4  4
97  3  2
98  2  3
99  2  1

[100 rows x 2 columns],     A  B
0   4  0
1   4  0
2   4  3
3   0  2
4   0  4
5   4  3
6   1  0
7   0  1
8   4  4
9   1  4
10  2  3
11  1  3
12  3  2
13  3  4
14  3  1
15  3  4
16  2  1
17  1  3
18  4  0
19  2  1
20  3  0
21  2  2
22  4  0
23  2  0
24  1  0
25  4  4
26  1  3
27  2  4
28  1  2
29  0  0
.. .. ..
70  0  1
71  2  3
72  4  4
73  3  4
74  2  4
75  0  1
76  2  4
77  1  3
78  3  4
79  2  2
80  2  2
81  1  2
82  0  0
83  0  4
84  3  3
85  1  4
86  2  4
87  1  4
88  1  3
89  0  2
90  2  2
91  1  2
92  2  1
93  4  1
94  1  1
95  2  3
96  2  1
97  4  4
98  4  1
99  4  1

[100 rows x 2 columns],     A  B
0   3  1
1   3  4
2   2  2
3   0  1
4   2  0
5   1  1
6   0  2
7   0  2
8   1  3
9   2  0
10  1  2
11  4  2
12  0  0
13  3  0
14  0  3
15  1  4
16  4  1
17  3  4
18  4  3
19  2  3
20  2  1
21  3  4
22  1  1
23  2  1
24  0  3
25  3  2
26  2  3
27  2  4
28  3  3
29  1  3
.. .. ..
70  0  3
71  1  1
72  1  4
73  3  3
74  2  3
75  3  0
76  1  4
77  2  2
78  2  2
79  0  2
80  0  4
81  4  3
82  1  2
83  2  3
84  2  4
85  3  3
86  0  2
87  0  0
88  3  4
89  0  0
90  4  2
91  1  3
92  2  4
93  2  0
94  4  3
95  0  1
96  3  2
97  2  0
98  1  1
99  4  4

[100 rows x 2 columns],     A  B
0   3  1
1   1  3
2   2  3
3   1  0
4   3  0
5   3  4
6   3  2
7   4  0
8   3  1
9   4  0
10  4  1
11  0  0
12  0  2
13  2  3
14  4  3
15  4  3
16  2  4
17  3  3
18  4  2
19  2  1
20  3  0
21  3  3
22  1  1
23  2  3
24  3  3
25  1  0
26  3  2
27  4  1
28  2  1
29  2  1
.. .. ..
70  1  1
71  1  3
72  4  1
73  2  2
74  0  4
75  4  2
76  2  0
77  0  0
78  4  4
79  2  3
80  1  2
81  3  0
82  3  4
83  0  4
84  0  3
85  4  3
86  1  4
87  4  2
88  4  3
89  1  2
90  4  1
91  2  3
92  4  0
93  0  2
94  2  4
95  4  4
96  4  0
97  2  2
98  4  3
99  3  4

[100 rows x 2 columns],     A  B
0   2  1
1   3  0
2   0  0
3   3  1
4   3  3
5   1  1
6   1  3
7   3  3
8   3  3
9   0  0
10  0  3
11  0  4
12  0  0
13  4  4
14  4  3
15  2  3
16  2  1
17  3  2
18  2  0
19  0  2
20  2  4
21  3  4
22  4  1
23  2  1
24  0  4
25  0  1
26  3  4
27  3  2
28  4  3
29  0  1
.. .. ..
70  0  3
71  1  0
72  3  0
73  1  2
74  4  2
75  4  1
76  1  3
77  4  3
78  3  2
79  3  3
80  0  4
81  1  1
82  0  2
83  4  3
84  0  0
85  3  3
86  4  4
87  2  4
88  4  0
89  3  0
90  0  0
91  0  4
92  4  1
93  0  4
94  3  1
95  1  0
96  1  3
97  3  0
98  2  2
99  1  0

[100 rows x 2 columns],     A  B
0   0  0
1   3  4
2   1  1
3   3  2
4   3  0
5   4  3
6   4  1
7   4  2
8   1  0
9   0  1
10  2  0
11  1  2
12  1  1
13  4  0
14  1  0
15  4  1
16  2  2
17  1  0
18  4  1
19  4  4
20  2  0
21  0  4
22  1  4
23  1  4
24  2  2
25  1  3
26  2  3
27  0  0
28  1  0
29  3  2
.. .. ..
70  3  0
71  3  1
72  4  0
73  0  0
74  0  1
75  3  0
76  4  2
77  4  2
78  2  0
79  1  0
80  2  0
81  2  4
82  0  0
83  1  4
84  0  3
85  4  4
86  3  0
87  0  4
88  2  1
89  0  0
90  2  3
91  3  4
92  3  4
93  4  0
94  4  3
95  3  2
96  2  4
97  1  4
98  0  4
99  1  4

[100 rows x 2 columns],     A  B
0   2  4
1   4  1
2   2  0
3   0  2
4   2  1
5   3  1
6   1  3
7   0  2
8   4  4
9   0  1
10  2  1
11  3  0
12  3  3
13  0  1
14  4  2
15  2  2
16  4  4
17  4  2
18  4  3
19  4  3
20  3  0
21  4  1
22  0  0
23  4  4
24  1  0
25  4  0
26  4  3
27  4  1
28  2  0
29  1  4
.. .. ..
70  4  4
71  0  4
72  3  3
73  4  0
74  1  1
75  0  3

In [22]:
df

    A  B
0   2  2
1   1  1
2   0  2
3   2  0
4   2  4
5   1  2
6   0  1
7   1  0
8   4  3
9   2  3
10  0  1
11  2  0
12  0  2
13  0  4
14  2  4
15  3  1
16  3  0
17  3  3
18  1  4
19  2  1
20  4  2
21  4  2
22  2  4
23  3  3
24  4  4
25  3  2
26  0  1
27  0  4
28  0  1
29  4  0
.. .. ..
70  4  3
71  1  3
72  4  0
73  4  1
74  3  0
75  0  4
76  2  1
77  4  2
78  0  1
79  2  3
80  1  4
81  0  1
82  4  0
83  3  4
84  3  3
85  3  3
86  3  1
87  2  0
88  2  1
89  2  4
90  0  1
91  4  3
92  1  0
93  0  0
94  4  2
95  4  0
96  3  3
97  4  2
98  0  4
99  1  1

[10000 rows x 2 columns]

In [ ]:
p2 = subprocess.Popen(["grep", "-c", "test"], stdin=p1.stdout, stdout=subprocess.PIPE)

In [ ]:
import subprocess
results = subprocess.check_output("zcat < /Users/ludovicbreger/Library/Logs/CoreSimulator/A60C2210-E1E6-408E-8338-912F7A8B4BFC/system.log.1.gz | wc", shell=True)

In [ ]:
results

In [ ]:
str(results)

In [ ]:
int(re.split(r'\D+', str(results))[1])